<IfModule mod_rewrite.c> 
    <IfModule mod_negotiation.c> 
        Options -MultiViews 
    </IfModule> 

    RewriteEngine On 
    RewriteBase /
    RewriteCond% {HTTP: Authorization} ^ (. *) 
    RewriteRule. * - [e = HTTP_AUTHORIZATION:% 1] 

    # Rediriger les barres obliques de fin ... 
    RewriteRule ^ (. *) / $ / $ 1 [L, R = 301] 

    # Handle Contrôleur frontal ... 
    RewriteCond% {REQUEST_FILENAME}! -D 
    RewriteCond% {REQUEST_FILENAME}! -F 
    RewriteRule ^ /index.php [L] 
</IfModule>